In [81]:
import pandas as pd 
from simpledbf import Dbf5
import chardet

url = "C:/Users/carol/Downloads/solidarityEconomy/"
file = url + "desc_setores_91_messejana_sem_virgula.csv"
teste = pd.read_csv(file, encoding = "Windows-1252", header=None)
teste

                                                     0
0                       V1;V2;V3;V4;V5;V6;V7;V8;V9;V10
1    23;440;FORTALEZA;65;MESSEJANA;9;50;2;1;": DO P...
2    23;440;FORTALEZA;65;MESSEJANA;9;50;2;2;"DA OLI...
3    23;440;FORTALEZA;65;MESSEJANA;9;50;2;3;"RUA ES...
4    23;440;FORTALEZA;65;MESSEJANA;9;51;2;1;": DO P...
..                                                 ...
756  23;440;FORTALEZA;65;MESSEJANA;11;220;2;5;"DA "...
757  23;440;FORTALEZA;65;MESSEJANA;11;221;2;1;": DO...
758  23;440;FORTALEZA;65;MESSEJANA;11;221;2;2;" ""R...
759  23;440;FORTALEZA;65;MESSEJANA;11;222;2;1;": DO...
760  23;440;FORTALEZA;65;MESSEJANA;11;222;2;2;"CALH...

[761 rows x 1 columns]