In [47]:
import pandas as pd 
from simpledbf import Dbf5
import chardet

class PathDataSets:
    url = "C:/Users/carol/Downloads/solidarityEconomy/dataSets/"
    setores_91 = url + "setores_ceara_1991/"
    setores_00 = url + "setores_ceara_2000/"
    setores_10 = url + "setores_ceara_2010/"
    bairro = url + "logradouros_ce.csv"
    
file = PathDataSets.setores_91 + "desc_setores_91_messejana_finished.csv"

censo91 = pd.read_csv(file, encoding = "Windows-1252", sep = ";")

In [89]:
bairros_fortaleza = PathDataSets.bairro
bairros = pd.read_csv(bairros_fortaleza, encoding = "Windows-1252", sep = ";")
display(bairros)

,bairro,logradouro,logradouros_t,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,conjunto_palmeiras,"Rua Castro Alves, Rua Silvinha Téles, Rua Sidn...","RUA CASTRO ALVES, RUA SILVINHA TÉLES, RUA SIDN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
bairro_selecionado = input("bairro ")
ultima_rua = input("qual a última rua da lista? EM UPPER  ")

bairro conjunto_palmeiras
qual a última rua da lista? EM UPPER  RUA ISABELA MOREIRA

In [94]:
logradouros = bairros[bairros['bairro'] == bairro_selecionado]['logradouros_t']
logradouros = str(logradouros)
listLogradouros = logradouros.split(", ")
print(listLogradouros)

['0    RUA CASTRO ALVES', 'RUA SILVINHA TÉLES', 'RUA SIDN...\nName: logradouros_t', 'dtype: object']

In [91]:
logradouros = []

for v11 in censo91.V11:
    for rua in logradouros:
        if rua in v11:
            listBoolLogradouros.append(True)
            break
        if rua == 'RUA ISABELA MOREIRA':
            listBoolLogradouros.append(False)

In [92]:
censo91["listLogradouro"] = logradouros

ValueError: Length of values (0) does not match length of index (217)

In [88]:
censo91[censo91["listLogradouro"] == True]

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V11,listLogradouro,new_column,logradouros
0,23,440,FORTALEZA,65,MESSEJANA,9,50,2,3,": DO PONTO INICIAL SEGUE PELA ""AVENIDA JOSE LE...",True,"0 RUA CASTRO ALVES, RUA SILVINHA TÉLES, RUA...",True
1,23,440,FORTALEZA,65,MESSEJANA,9,51,2,4,": DO PONTO INICIAL SEGUE ATE A ""RUA GENERAL CA...",True,NaN,True
2,23,440,FORTALEZA,65,MESSEJANA,9,52,2,4,": DO PONTO INICIAL SEGUE ATE A ""RUA MANOEL MON...",True,NaN,True
3,23,440,FORTALEZA,65,MESSEJANA,9,53,2,3,": DO PONTO INICIAL SEGUE ATE A ""RUA DOUTOR JOS...",True,NaN,True
4,23,440,FORTALEZA,65,MESSEJANA,9,54,2,3,": DO PONTO INICIAL SEGUE ATE A ""AVENIDA DEPUTA...",True,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,23,440,FORTALEZA,65,MESSEJANA,11,216,2,2,": DO PONTO INICIAL SEGUE PELA ""AV B"" ATE A ""RU...",True,NaN,True
213,23,440,FORTALEZA,65,MESSEJANA,11,217,2,3,": DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PAR...",True,NaN,True
214,23,440,FORTALEZA,65,MESSEJANA,11,218,2,3,"DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PARA...",True,NaN,True
215,23,440,FORTALEZA,65,MESSEJANA,11,219,2,5,": DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PAR...",True,NaN,True
216,23,440,FORTALEZA,65,MESSEJANA,11,220,2,5,": DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PAR...",True,NaN,True

In [81]:
nome = "|".join(logradouros)
print(censo91.V11.str.contains(nome))
censo91["logradouros"] = censo91.V11.str.contains(nome)
censo91.query("logradouros == True")

0      True
1      True
2      True
3      True
4      True
       ...
212    True
213    True
214    True
215    True
216    True
Name: V11, Length: 217, dtype: bool

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V11,listLogradouro,new_column,logradouros
0,23,440,FORTALEZA,65,MESSEJANA,9,50,2,3,": DO PONTO INICIAL SEGUE PELA ""AVENIDA JOSE LE...","RUA CASTRO ALVES, RUA SILVINHA TÉLES, RUA SIDN...","RUA CASTRO ALVES, RUA SILVINHA TÉLES, RUA SIDN...",True
1,23,440,FORTALEZA,65,MESSEJANA,9,51,2,4,": DO PONTO INICIAL SEGUE ATE A ""RUA GENERAL CA...",NaN,NaN,True
2,23,440,FORTALEZA,65,MESSEJANA,9,52,2,4,": DO PONTO INICIAL SEGUE ATE A ""RUA MANOEL MON...",NaN,NaN,True
3,23,440,FORTALEZA,65,MESSEJANA,9,53,2,3,": DO PONTO INICIAL SEGUE ATE A ""RUA DOUTOR JOS...",NaN,NaN,True
4,23,440,FORTALEZA,65,MESSEJANA,9,54,2,3,": DO PONTO INICIAL SEGUE ATE A ""AVENIDA DEPUTA...",NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,23,440,FORTALEZA,65,MESSEJANA,11,216,2,2,": DO PONTO INICIAL SEGUE PELA ""AV B"" ATE A ""RU...",NaN,NaN,True
213,23,440,FORTALEZA,65,MESSEJANA,11,217,2,3,": DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PAR...",NaN,NaN,True
214,23,440,FORTALEZA,65,MESSEJANA,11,218,2,3,"DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PARA...",NaN,NaN,True
215,23,440,FORTALEZA,65,MESSEJANA,11,219,2,5,": DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PAR...",NaN,NaN,True
216,23,440,FORTALEZA,65,MESSEJANA,11,220,2,5,": DO PONTO INICIAL SEGUE PELA ""AV A OU VAL PAR...",NaN,NaN,True